@import '../../@core/scss/base/bootstrap-extended/include';
@import '../../@core/scss/base/components/include';

// Kanban App
// ========================================================================

.kanban-application {
  height: 100%;
  width: inherit;
  overflow-x: scroll;
  .app-kanban-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    .kanban-board-horizontal-scroll {
      max-width: 100%;
    }
    .board-wrapper {
      height: 100%;
      min-width: 260px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      .board-title {
        height: 40px;
      }
      .kanban-task-list {
        height: 100%;
        overflow-y: auto;
        .kanban-task-scroll {
          height: 100%;
        }
      }
      .more-options-dropdown {
        .btn-icon {
          padding-right: 0;
        }
      }
      &:not(:last-child) {
        margin-right: 2rem;
      }

      .board-header {
        input.board-title {
          border: 0;
          font-weight: 800;
          font-size: 1.1rem;
          white-space: nowrap;
          background-color: transparent;

          &:hover {
            background-color: $white;
          }
        }
      }
      .task {
        cursor: grab;
        margin-top: 1rem;
        margin-bottom: 1rem;

        .card-body {
          padding: 1rem 1.2rem;
        }

        .task-title {
          max-width: 230px;
          display: block;
          font-weight: 500;
        }

        .task-img {
          width: 100%;
          height: 100%;
          max-width: 260px;
          object-fit: cover;
        }

        .task-footer {
          .avatar img {
            width: 28px;
            height: 28px;
          }
        }
      }
    }
  }
}

.sidebar-kanban-modal {
  .modal-body {
    height: calc(100vh - 9rem);
  }
  .dropzone {
    position: relative;
    .single-file-image {
      height: 100%;
      width: 100%;
      object-fit: cover;
      position: absolute;
      border-radius: $border-radius;
    }
  }
}

.dark-layout {
  .kanban-application {
    .app-kanban-wrapper {
      .board-header {
        input.board-title {
          color: $white;
          &:hover {
            background-color: $theme-dark-card-bg;
          }
        }
      }
    }
  }
}

.own-avatar-group {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  .own-avatar {
    margin-left: -10px;
  }
}
