@import '../../@core/scss/base/bootstrap-extended/include';
@import '../../@core/scss/base/components/include';

.task-report {
  width: 100%;
  margin: 0;
  padding-inline: 1%;
}
.list-tabs {
  width: 100%;
  .list-group {
    border: 1px solid #d8d6de;
  }
  .list-group .list-group-item {
    padding: 0.58rem 1.5rem;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #d8d6de;
    font-weight: $font-weight-bold;
    letter-spacing: 0.4px;
    cursor: pointer;
    .ws-name {
      max-width: 11.8rem;
      min-height: 1.8rem;
      cursor: pointer;
      &:hover {
        cursor: pointer;
      }
    }
    + .list-group-item.active {
      margin-top: 0;
    }
    &:hover {
      color: $primary;
      background: transparent;
      opacity: 0.7;
    }
    &:focus,
    &.active {
      background: transparent;
      border-top: none;
      border-right: none;
      border-left: 2px solid #7367f0;
      color: $primary;
      height: min-content !important;
    }
  }
}

.basic-time-line {
  width: 100%;
  margin-left: 0;
}

.input-group-merge {
  border-radius: 20px;
}

.uploaded-proof-photo:hover {
  // transform: scale(1.5);
}
