.section-row {

    position: relative;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .section-row .bottom {
    font-size: 12px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: none;
    position: absolute;
    left: 0px;
    bottom: -8px;
    border-radius: 12px !important;
    width: 24px;
    height: 24px;
    color: white;
    background: rgb(49, 181, 119);
    margin-left: calc(50% - 12px);
  }
  
  .section-row-child.non-empty > .add-new-column {display: none}
  
  .section-row .full-container {padding: 20px 10px; width: 100%; max-width: 100%; margin: auto;}
  .section-row .add-new-column {border-radius: 3px; text-align: center; opacity: 0.8; font-size: 12px; position: relative}
  .section-row .add-new-column div {border-radius: 3px; padding: 10px 15px; font-weight: bold; color: #FFF; background-color: rgba(6,6,6,0.47); font-size: 14px}
  .section-row .add-new-column div i{color: white; width: inherit}
  
  
  .section-row .wide-container {padding: 20px 10px; width: 1120px; max-width: 100%; margin: auto;}
  .section-row .medium-container {padding: 20px 10px; width: 75%; max-width: 100%; margin: auto;}
  .section-row .small-container {padding: 20px 10px; width: 50%; max-width: 100%; margin: auto;}
  
  
  .section-column {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
  }
  
  .section-column.non-empty .add-new-element {display: none;}
  .section-column-child {display: block; padding: 20px 10px; flex: 1;position: relative}
  .section-column .bottom {
    font-size: 12px;
    text-align: center;
    position: absolute;
    bottom: -12px;
    left: 0px;
    border-radius: 12px !important;
    width: 24px;
    height: 24px;
    display: none;
    color: white;
    justify-content: center;
    align-items: center;
    background: #0166AE;
    margin-left: calc(50% - 12px);
  }
  .section-column .non-empty div.add-new-element {display: none}
  
  .full-container {width: 100%; max-width: 100%;}
  .add-new-element {width: 100%; border-radius: 3px; text-align: center; opacity: 0.8; font-size: 12px; position: relative}
  .add-new-element div {border-radius: 3px; padding: 10px 15px; font-weight: bold; color: #FFF; background-color: rgba(6,6,6,0.47); font-size: 14px}
  .add-new-element div i{color: white; width: inherit}
  
  .section-column-child.side-menu {max-width: 250px !important;}
  
  .section-column-parent {width: 100%; display: flex}
  
  
  
  .section-row .bottom:hover:before {
    content: 'Add New Section';
    font-weight: bold;
    background-color: rgb(49, 181, 119);
    color: #FFF;
    border-radius: 4px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    box-shadow: inset 0 1px 0 rgba(255 255 255 0.3);
    border: 2px solid rgb(49, 181, 119);
    font-size: 9px;
    padding: 5px 10px;
    top: 35px;
    left: -50px;
    width: 120px;
  }
  
  .section-row .bottom:hover:after {
    top: 30px;
    left: 6px;
    content: ' ';
    width: 0;
    height: 0;
    position: absolute;
    text-align: center;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid rgb(49, 181, 119);
  }
  
  
  .section-column .bottom:hover:before {
    content: 'Add New Row';
    font-weight: bold;
    background-color: #0166AE;
    color: #FFF;
    border-radius: 4px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    box-shadow: inset 0 1px 0 rgba(255 255 255 0.3);
    border: 2px solid #0166AE;
    font-size: 9px;
    padding: 5px 10px;
    top: 35px;
    left: -50px;
    width: 120px;
  }
  
  
  
  .section-column .bottom:hover:after {
    top: 30px;
    left: 6px;
    content: ' ';
    width: 0;
    height: 0;
    position: absolute;
    text-align: center;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #0166AE;
  }
  
  .section-column-child .bottom.add-more-element {
    font-size: 12px;
    text-align: center;
    position: absolute;
    bottom: -12px;
    left: 0px;
    border-radius: 12px !important;
    width: 24px;
    height: 24px;
    display: none;
    color: white;
    justify-content: center;
    align-items: center;
    background: #F78828;
    margin-left: calc(50% - 12px);
  }
  .section-column-child .bottom.add-more-element:hover:after {
    top: 30px;
    left: 6px;
    content: ' ';
    width: 0;
    height: 0;
    position: absolute;
    text-align: center;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #F78828;
  }
  
  .section-column-child .bottom.add-more-element:hover:before {
    content: 'Add New Element';
    font-weight: bold;
    background-color: #F78828;
    color: #FFF;
    border-radius: 4px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    box-shadow: inset 0 1px 0 rgba(255 255 255 0.3);
    border: 2px solid #F78828;
    font-size: 9px;
    padding: 5px 10px;
    top: 35px;
    left: -50px;
    width: 120px;
  }
  
  .section-row-child .add-new-column:hover:before {
    content: 'Add New Row';
    font-weight: bold;
    background-color: #0166AE;
    color: #FFF;
    border-radius: 4px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    box-shadow: inset 0 1px 0 rgba(255 255 255 0.3);
    border: 2px solid #0166AE;
    font-size: 9px;
    padding: 5px 10px;
    top: 4px;
    left: 50%;
    margin-left: -55px;
    width: 110px;
    z-index: 99999;
  }
  
  .section-column-child .add-new-element:hover:before {
    content: 'Add New Element';
    font-weight: bold;
    background-color: #F78828;
    color: #FFF;
    border-radius: 4px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    box-shadow: inset 0 1px 0 rgba(255 255 255 0.3);
    border: 2px solid #F78828;
    font-size: 9px;
    padding: 5px 10px;
    top: 4px;
    left: 50%;
    margin-left: -55px;
    width: 110px;
    z-index: 99999;
  }
  .element {position: relative}
  .element.gjs-selected .bottom.add-more-element {display: flex}
  .section-row.gjs-selected .bottom.add-new-column {display: flex}
  .section-column.gjs-selected .bottom.add-new-element {display: flex}
  .section-column-child .gjs-selected {
    outline: 2px solid #F78828 !important;
  }
  .section-column.gjs-selected {
    outline: 2px solid #0166AE !important;
  }
  .section-row.gjs-selected {
    outline: 2px solid rgb(49, 181, 119) !important;
  }
  
  .signature-text {
    width: 100%;
    height: 80px;
    padding: 5px 10px;
    outline: 1px solid lightgray !important;
    cursor: crosshair;
  }
  
  .bullet-list-content {
    width: 200px;
  }
  
  
  .MuiList-padding {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .MuiList-root {
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
  }
  
  .MuiListItem-gutters {
    padding-left: 16px;
    padding-right: 16px;
  }
  .MuiListItem-dense {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .MuiListItem-root {
    width: 100%;
    display: flex;
    position: relative;
    box-sizing: border-box;
    text-align: left;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    justify-content: flex-start;
    text-decoration: none;
  }
  
  .makeStyles-buybtn-44 {
  
  }
   .MuiButton-text {
     padding: 6px 8px;
   }
   .MuiButton-root {
     color: #fff;
     width: 100%;
     background: #2796f3;
     font-weight: bold;
  
     font-size: 0.875rem;
     min-width: 64px;
     box-sizing: border-box;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
     font-family: "Roboto", "Helvetica", "Arial", sans-serif;
     line-height: 1.75;
  
     letter-spacing: 0.02857em;
     text-transform: uppercase;
   }
   .MuiButtonBase-root {
     color: inherit;
     border: 0;
     border-radius: 4px;
     cursor: pointer;
     margin: 0;
     display: inline-flex;
     outline: 0;
     padding: 6px 16px;
     position: relative;
     align-items: center;
     user-select: none;
     vertical-align: middle;
     -moz-appearance: none;
     justify-content: center;
     text-decoration: none;
     background: #2796f3;
     -webkit-appearance: none;
     -webkit-tap-highlight-color: transparent;
   }
  
  
  .cardlogoWrapper {
    margin: 0 4px;
    display: flex;
    padding: 6px;
    box-shadow: 0px 2px 5px 0px rgba(0 0 0 0.1) !important;
    border-radius: 4px;
    justify-content: center;
  }
  
  .cardlogo {
    width: 60%;
    height: 2.6em;
    object-fit: contain;
  }
  
  .btn-submit {
    padding: 10px 25px;
    color: #fff;
    background-color: rgb(1, 116, 199);
    border-radius: 5px;
    text-align: center;
  }
  
  .btn-submit .button-text {
  
  }
  
  .btn-submit .button-subtext {
    display: block;
  }
  
  
  .image-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .image-container img {
    width: 200px;
    height: 200px;
  }
  
  .video-element{
    width:100% !important;
    display: flex;
    justify-content: center;
  }
  
  .count-down-title {
    margin: 0;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
  }
  
  .count-down-label {
    margin: 0;
    text-align: center;
    font-size: 12px;
  }
  
  .size-large .count-down-title {
    font-size: 36px;
  }
  
  .size-large .count-down-label {
    font-size: 18px;
  }
  
  .size-small .count-down-title {
    font-size: 18px;
  }
  
  .size-small .count-down-label {
    font-size: 9px;
  }
  
  .label-bold .count-down-label {
    font-weight: bold;
  }
  